===CMME (Computerized Mensural Music Editing)===

Website: [http://www.cmme.org/#ABH CMME]

The idea of CMME, conceived in 1999 as a Princeton undergraduate project by Ted Dumitrescu, was to support dynamic editions based on encoding standards comparable with the most rigorous printed editions.  Editions of music in mensural notation have given rise to many changes of editorial opinion.  In contrast to print, virtual editions have the possibility of being easily re-rendered to express changing views.  On-screen views support the presence or absence of &lt;i>musica ficta&lt;/i> and text underlay rationalized to fit the music or clustered at the start of line (as in many period manuscripts).  Marnix van Berchem is the current director of the Utrecht-based project.

===KernScores===

Website: [http://kern.ccarh.org KernScores]

[http://kern.humdrum.org/help/tour/ KernScores] is a comprehensive website of musical data for analysis.  (Kern is the Common Western Notation encoding format the [http://humdrum.ccarh.org/ Humdrum ToolKit], which has its own website and data repository at Ohio State University.)  KernScores emphasize piano music. A large number of analytical conversions can be run on-the-fly from the long list of links that follows each title listing. Most repertories are for keyboard. The full collection can be [http://kern.ccarh.org/help/data/ browsed here]. ([http://kern.ccarh.org/cgi-bin/ksbrowse?l=/essen EsAC data] has also been translated to the Kern format, and [http://kern.ccarh.org/cgi-bin/ksbrowse?l=/users/sagrillo 1000 additional pieces] have been added by Damien Sagrillo.)  An [http://kern.humdrum.org/cgi-bin/kern/kseditor online Humdrum editor] enables users to add their own data and run simple analysis routines on it.    

The following conversions of data to sound and notation are among those supported:

* MIDI (sound)

* MuseData (notation, editing, analysis)

* [https://en.wikipedia.org/wiki/MusicXML MusicXML] (data interchange)

* [http://kern.ccarh.org/browse?l=users/craig/abc ABC+] (notation)

* [https://en.wikipedia.org/wiki/GUIDO_music_notation Guido] (online notation)

KernScores also generates [http://kern.humdrum.org/help/tour/ piano rolls], [https://ccrma.stanford.edu/~craig/keyscape/bach-wtc-new/ keyscapes], and several other kinds of analytical data.

===MuseData===

Website: [http://www.musedata.org MuseData]

MuseData, based at the Center for Computer Assisted Research in the Humanities at Stanford University, refers to (1) an encoding system for music, (2) the software optimized for it, and (3) several corpora of scores encoded in the system. The representation system and software have been developed with Walter Hewlett from 1984 through the present. The system is described in &lt;i>Beyond MIDI&lt;/i>. 

The musical corpora contain more than 1,200 fully encoded works, including symphonies, string quartets, operas, oratorios, cantatas, and other kinds of works. The names of encoders and musical sources are embedded in the files together with other metadata.  A large number of works have been encoded by Frances Bennion and Edmund Correia Jr. Other contributions have been made by [https://www.linkedin.com/in/jpdautricourt Jean-Pierre Dautricourt], [http://www.pamela-decker.com/ Pamela Decker], [https://www.linkedin.com/pub/michael-flexer/1/458/2a9 Michael Flexer], and Steve Rasmussen. The web interface and data conversion are principally the work of Craig Sapp (also the site manager), with contributions by [http://www.musiccog.ohio-state.edu/Huron/ David Huron] and [https://about.me/andreas.kornstaedt Andreas Kornstaedt].    

Mensural extensions by Hewlett have been adopted by the [http://jrp.stanford.edu Josquin Research Project] and the Tasso Music project (online in 2016). MuseData supports conversion to MIDI, Humdrum Kern, SCORE, MusicXML, and MEI. Direct  conversion from MuseData code to PDF is under development.

====MuseData score-and-part links====

This series of wikis provides PDF scores and parts generated from edited MuseData. Each project has a separate link.  Several have MIDI files and other auxiliary materials.  

=====Ludwig van Beethoven=====

Website: [http://wiki.ccarh.org/wiki/MuseData:_Ludwig_van_Beethoven Ludwig van Beethoven]

* [http://wiki.ccarh.org/wiki/MuseData:_Ludwig_van_Beethoven#Symphonies Symphonies]

* [http://beethoven-string-quartets.ccarh.org String Quartets]

=====Arcangelo Corelli=====

Website: [http://wiki.ccarh.org/wiki/MuseData:_Arcangelo_Corelli Arcangelo Corelli]

The 72 sonatas and concertos published in Corelli's lifetime, with facsimiles, PDFs, MIDI files, and commentary.

=====Georg Frideric Händel=====

Website: [http://wiki.ccarh.org/wiki/MuseData:_George_Frideric_Handel  Georg Frideric Händel]

* [http://wiki.ccarh.org/wiki/Messiah Messiah (1990 and 2003 editions)]

* [http://wiki.ccarh.org/wiki/MuseData:_George_Frideric_Handel#Susanna_.28HWV_66.29 Susanna]

* Concerti Op. 6: score and parts

=====Antonio Vivaldi=====

Website: [http://wiki.ccarh.org/wiki/MuseData:_Antonio_Vivaldi  Antonio Vivaldi]

* Parts for the CCARH-Dover editions

* Concerti Op. 3, Nos. 1-12

* Concerti Op. 8, Nos. 1-12

* Flute Concertos Op. 10, No. 1-6 (plus four from manuscript sources)
